<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prevention.disease"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:name="com.prevention.disease.app.AppApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/preventiondisease"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.prevention.disease.activity.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.prevention.disease.activity.PreventionActivity" >
            
        </activity>
        <activity android:name="com.prevention.disease.activity.SettingsActivity" />
        <activity android:name="com.prevention.disease.activity.AboutUSActivity" />
        <activity android:name="com.prevention.disease.activity.InfobackActivity" />
        
        <activity android:name="com.prevention.disease.activity.SearchActivity" 
            android:windowSoftInputMode="stateVisible"
            />
        <activity android:name="com.prevention.disease.activity.PDAttachActivity" />
        
    </application>

     <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


</manifest>